.html, body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.h2 {
    color: rgb(70, 70, 70);
}

.slide .image-date {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    z-index: 100;
}

.button {
    display: inline-table;
    padding: 50 50px;
    border-radius: 12px;
    color: #ffffff;
    background: #ffffff00;
    text-decoration: double;
    font-size: 190%;
    margin-top: 25px;
    transition: all 0.3s ease;
}

.button:hover {
    color: #ffffff;
    background-color: #ff00003a;
}

.image-date .span .text {
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    width: 100%;
}

.image-date h2 {
    font-size: 45px;
    font-weight: 600;
    color: aliceblue;
}

.text {
    color: white;
}

.main {
    height: 100vh;
    width: 100%;
}

.wrapper,
.slide {
    /*overflow: hidden; */
    width: 100%;
    height: 100%;
}

.slide ::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.top-header {
    background-color: rgb(250, 250, 250);
}

.menu-item {
    color: rgb(100, 100, 100);
    padding: 15px;
    display: inline-block;
    text-decoration: none;
}
